<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h2>Comentários</h2>
<%= render 'comments/comment' %>

<h2>Adicione um comentário:</h2>
<%= render 'comments/form' %>

<ul>
  <li><%= link_to "Editar", edit_article_path(@article) %></li>
  <li><%= link_to "Voltar", root_path %></li>
  <li><%= link_to "Excluir", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Tem certeza?"
  } %></li>
</ul>


